{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>
  
  <body>

    <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark bar fixed-top">
          <span class="navbar-brand">
            <img src="Images/Untitled.png" alt="" width="24" height="24" class="d-inline-block align-text-top">
            RingoEater
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'learning_logs:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="album.html">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="artist.html">Artist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
          </nav>
    
    <div class="container">

      <div class="page-header">
        {% block header %}{% endblock %}
      </div>
      <div>
        {% block content %}{% endblock %}
      </div>

    </div> <!-- /container -->

  </body>
</html>

