{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1 class="m-5">Topics</h1>
{% endblock %}

{% block content %}
  <div class="list-group">
    {% for topic in topics %}

          <a class="song_li list-group-item font-weight-bold" href="{% url 'learning_logs:topic' topic.id %}">
          <h2>{{ topic }}</h2>
          </a>

    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </div>
  <a class="btn btn-secondary mb-3 mt-3" href="{% url 'learning_logs:new_topic' %}">add new topic</a> 

{% endblock content %}